:root {
  --clr-primary: hsl(10, 79%, 65%);
  --clr-secondary: hsl(186, 34%, 60%);

  --clr-accent-100: hsl(25, 47%, 15%);
  --clr-accent-200: hsl(28, 10%, 53%);
  --clr-accent-400: hsl(27, 66%, 92%);
  --clr-accent-600: hsl(33, 100%, 98%);

  --fw-regular: 400;
  --fw-bold: 700;

  --ff: 'DM Sans', sans-serif;

  font-family: var(--ff);
}

body {
  display: grid;
  place-items: center;
  background-color: var(--clr-accent-400);
}

main {
  margin-inline: auto ;
  width: 540px;
}

hr {
  border: none;
  height: 2px;
  background-color: var(--clr-accent-400);
  margin: 2rem 0;
}

section {
  border-radius: 1rem;
}

p {
  color: var(--clr-accent-200);
}

.weekly__chart{
  background-color: var(--clr-accent-600);
  padding: 35px 40px;
}

.balance{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  color: var(--clr-accent-600);
  background-color: var(--clr-primary);
  
  padding: 22px 30px;
  margin-bottom: 1.5625rem;
}

.balance__text > p {
  color: var(--clr-accent-600);
}
.balance__text > h2 {
  font-size: 2rem;
}
.weekly__chart > h2 {
  font-size: 2.2rem;
}

#expense__chart {
  height: 230px;
  display: flex;
  gap: 17px;
  justify-content: center;
  align-items: end;
}

.expense__day {
  margin-top: 5px;
}

.expense__bar {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bar {
  background-color: var(--clr-primary);
  border-radius: 0.25rem;
  cursor: pointer;
  transition: all 500ms ease;
}

.bar:is(:hover, :focus) {
  opacity: 0.6;
}

.value {
  position: absolute;
  font-size: 0.6rem;
  top: -50px;
  padding: 10px;
  border-radius: 5px;

  color: var(--clr-accent-600);
  background-color: var(--clr-accent-100);

  opacity: 0;
  z-index: -1;
  translate: 0 15px;
  transition: all 500ms ease;
}

.bar:hover + .value {
  opacity: 1;
  z-index: 1;
  translate: 0;
  font-size: 1rem;
}

.highest__value {
  background-color: var(--clr-secondary);
}

.spent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.spent__amount {
  color: var(--clr-accent-100);
  font-weight: var(--fw-bold);
  font-size: 3rem;
}

.last_month {
  font-size: 1.125rem;
  text-align: end;
}

.spent__percent{
  font-size: 1.2rem;
  color: var(--clr-accent-100);
  font-weight: var(--fw-bold);
}

.total__expense > p {
  font-size: 1.16rem;
}